<h1> Aprendendo a usar Pandas </h1>
    <p><blockquote> Com o crescimento da data science nos dias atuais uma ótima forma de tratar dados é com a biblioteca <code>Pandas</code> , criada sobre o <code>numpy</code></blockquote></p>

In [2]:
import numpy as np
import pandas as pd
pd.__version__

'0.25.1'

In [3]:
data = pd.Series([0.2, 43., 0.5, 7, 3]) # Criando um array unidimencional
data

0     0.2
1    43.0
2     0.5
3     7.0
4     3.0
dtype: float64

In [4]:
data.values # Selecionando os valores

array([ 0.2, 43. ,  0.5,  7. ,  3. ])

In [5]:
data.index # Observando o index

RangeIndex(start=0, stop=5, step=1)

# Slicing
<p><blockquote> Semelhante ao <code>numpy</code> o slicing no pandas pode ser feito da forma: <strong>exemplo[inicio:fim:passo]</strong><br> Observe: </blockquote></p>

In [7]:
data[0:3:2]

0    0.2
2    0.5
dtype: float64

# Index
<p><blockquote> Os indexes do pandas podem ser alterados por strings ou até mesmo outros números da na sua criação</blockquote> </p>

In [13]:
data = pd.Series([0.3, 0.5, 13, 2.3, 5], index=['arroz', 'batata', 'camarão', 'danone', 3])
data

arroz       0.3
batata      0.5
camarão    13.0
danone      2.3
3           5.0
dtype: float64

In [14]:
data['danone']

2.3

In [15]:
data[3]

5.0

# Uso de dicionarios python
<p><blockquote> Um dicionário da própria biblioteca do python pode ser adicionada diretamente às series do <code>pandas</code><br> Veja abaixo: </blockquote></p>

In [34]:
# Criação de um dicionário 
dic_comidas = { 'fruta': 'maçãs',
                'frituras': 'hamburgers',
                'sobremesas': 'açaí', 
                'bebida': 'café',
              }
comidas = pd.Series(dic_comidas)
comidas

fruta              maçãs
frituras      hamburgers
sobremesas          açaí
bebida              café
dtype: object

In [35]:
# Note que o slicing pode ser feito da mesma forma que arrays do numpy
comidas['frituras':'bebida']

frituras      hamburgers
sobremesas          açaí
bebida              café
dtype: object

# Data frames
<blockquote> Podem ser unidos varias Series de dados num dataFrame, observe:

In [43]:
calorias = pd.Series({'fruta': 50,
                      'frituras': 5000,
                      'sobremesas': 500, 
                      'bebida': 20,
                    })

refeicao_completa = pd.DataFrame({'comidas': comidas, 'calorias': calorias})
refeicao_completa

               comidas  calorias
fruta            maçãs        50
frituras    hamburgers      5000
sobremesas        açaí       500
bebida            café        20

In [44]:
refeicao_completa.index # Visualização do index

Index(['fruta', 'frituras', 'sobremesas', 'bebida'], dtype='object')

In [45]:
refeicao_completa.values # Visualização dos valores

array([['maçãs', 50],
       ['hamburgers', 5000],
       ['açaí', 500],
       ['café', 20]], dtype=object)

In [47]:
refeicao_completa.columns # Visualização das colunas

Index(['comidas', 'calorias'], dtype='object')

In [49]:
# Os data frames podem acessar dados de uma coluna especifica
refeicao_completa['comidas']

fruta              maçãs
frituras      hamburgers
sobremesas          açaí
bebida              café
Name: comidas, dtype: object