<h1> Aprendendo a usar Pandas </h1>
    <p><blockquote> Com o crescimento da data science nos dias atuais uma ótima forma de tratar dados é com a biblioteca <code>Pandas</code> , criada sobre o <code>numpy</code></blockquote></p>

In [3]:
import numpy as np
import pandas as pd
pd.__version__

'0.25.1'

In [3]:
data = pd.Series([0.2, 43., 0.5, 7, 3]) # Criando um array unidimencional
data

0     0.2
1    43.0
2     0.5
3     7.0
4     3.0
dtype: float64

In [4]:
data.values # Selecionando os valores

array([ 0.2, 43. ,  0.5,  7. ,  3. ])

In [5]:
data.index # Observando o index

RangeIndex(start=0, stop=5, step=1)

# Slicing
<p><blockquote> Semelhante ao <code>numpy</code> o slicing no pandas pode ser feito da forma: <strong>exemplo[inicio:fim:passo]</strong><br> Observe: </blockquote></p>

In [7]:
data[0:3:2]

0    0.2
2    0.5
dtype: float64

# Index
<p><blockquote> Os indexes do pandas podem ser alterados por strings ou até mesmo outros números da na sua criação</blockquote> </p>

In [13]:
data = pd.Series([0.3, 0.5, 13, 2.3, 5], index=['arroz', 'batata', 'camarão', 'danone', 3])
data

arroz       0.3
batata      0.5
camarão    13.0
danone      2.3
3           5.0
dtype: float64

In [14]:
data['danone']

2.3

In [15]:
data[3]

5.0

# Uso de dicionarios python
<p><blockquote> Um dicionário da própria biblioteca do python pode ser adicionada diretamente às series do <code>pandas</code><br> Veja abaixo: </blockquote></p>

In [34]:
# Criação de um dicionário 
dic_comidas = { 'fruta': 'maçãs',
                'frituras': 'hamburgers',
                'sobremesas': 'açaí', 
                'bebida': 'café',
              }
comidas = pd.Series(dic_comidas)
comidas

fruta              maçãs
frituras      hamburgers
sobremesas          açaí
bebida              café
dtype: object

In [35]:
# Note que o slicing pode ser feito da mesma forma que arrays do numpy
comidas['frituras':'bebida']

frituras      hamburgers
sobremesas          açaí
bebida              café
dtype: object

# Data frames
<blockquote> Podem ser unidos varias Series de dados num dataFrame, observe:

In [43]:
calorias = pd.Series({'fruta': 50, # obs: valores fictícios
                      'frituras': 5000,
                      'sobremesas': 500, 
                      'bebida': 20,
                    })

refeicao_completa = pd.DataFrame({'comidas': comidas, 'calorias': calorias})
refeicao_completa

               comidas  calorias
fruta            maçãs        50
frituras    hamburgers      5000
sobremesas        açaí       500
bebida            café        20

In [44]:
refeicao_completa.index # Visualização do index

Index(['fruta', 'frituras', 'sobremesas', 'bebida'], dtype='object')

In [45]:
refeicao_completa.values # Visualização dos valores

array([['maçãs', 50],
       ['hamburgers', 5000],
       ['açaí', 500],
       ['café', 20]], dtype=object)

In [47]:
refeicao_completa.columns # Visualização das colunas

Index(['comidas', 'calorias'], dtype='object')

In [49]:
# Os data frames podem acessar dados de uma coluna especifica
refeicao_completa['comidas']

fruta              maçãs
frituras      hamburgers
sobremesas          açaí
bebida              café
Name: comidas, dtype: object

In [12]:
# Data frames podem ser construidos a partir de qualquer lista de dicionários python
exemplo = [{'a':i, 'b':i**2} for i in range(1, 4)]
pd.DataFrame(exemplo, index = ['uno', 'dos', 'tres'])

      a  b
uno   1  1
dos   2  4
tres  3  9

In [21]:
# Se faltarem informações o bloco é substituído por NaN (not a number)
ex2 = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}], index = ['prisão', 'macarrão'])
ex2

            a  b    c
prisão    1.0  2  NaN
macarrão  NaN  3  4.0

In [31]:
# Podem ser transformados em dataframes arrays bidimencionais
ex3 = pd.DataFrame(np.random.rand(3, 2), columns=['a', 'b'], index = ['3', '2', '1'])
ex3

          a         b
3  0.303772  0.828808
2  0.638722  0.658279
1  0.741699  0.336281

In [32]:
ex3['a']

3    0.303772
2    0.638722
1    0.741699
Name: a, dtype: float64

In [34]:
# Por arrays estruturados do numpy
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [35]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# Aprofundando no objeto Index
<blockquote> Os indexes no <code>pandas</code> apresentam curiosidades que vão ser estudadas abaixo </blockquote>

In [36]:
ind = pd.Index([1, 3, 5, 6, 8])
ind

Int64Index([1, 3, 5, 6, 8], dtype='int64')

In [37]:
# Os indexes podem ser chamados por seus indexes (super metalinguístico)
ind[3]

6

In [39]:
# O slicing pode ser feito na mesma forma que um array comum
ind[::2]

Int64Index([1, 5, 8], dtype='int64')

In [40]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [42]:
# Diferente dos arrays do numpy o index é imutável, observe o erro abaixo
ind[2] = 4

TypeError: Index does not support mutable operations

In [43]:
# Operações que podem ser feitas entre indexes
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 8])

In [44]:
# Interceção
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [45]:
# União
indA | indB

Int64Index([1, 2, 3, 5, 7, 8, 9], dtype='int64')

In [48]:
# Diferença
indA ^ indB

Int64Index([1, 2, 8, 9], dtype='int64')

# Seleção e indexing de data

In [63]:
# Series como dicionários
data = pd.Series([0., 1., 1.5, 2, 3], index = ['a', 'b', 'c', 'd', 'e'])
data

a    0.0
b    1.0
c    1.5
d    2.0
e    3.0
dtype: float64

In [50]:
data['b']

1.0

In [52]:
'a' in data

True

In [55]:
2.0 in data.values

True

In [56]:
data.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [58]:
list(data.items())

[('a', 0.0), ('b', 1.0), ('c', 1.5), ('d', 2.0), ('e', 3.0)]

In [64]:
# Adicionando dados inexistentes
data['e'] = 4
data

a    0.0
b    1.0
c    1.5
d    2.0
e    4.0
dtype: float64

In [65]:
# Slicing pelo index alterado
data['a':'c']

a    0.0
b    1.0
c    1.5
dtype: float64

In [66]:
# Slicing pelo index padrão
data[0:3]

a    0.0
b    1.0
c    1.5
dtype: float64

In [69]:
# Aplicando uma máscara
data[(data>0.9) & (data< 2)]

b    1.0
c    1.5
dtype: float64

In [70]:
# Utilizando o 'fancy index'
data[['a', 'd']]

a    0.0
d    2.0
dtype: float64