In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [4]:
# Dados avançados do dataframe com o parametro de uso de memoria exato
drinks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

# Economia de memória
<blockquote><li> Observe que o memory usage é mais de 30KB, isso se deve a ao tipo object (que guarda strings inteiras) ser mais pesado que os tipos floats e integers</li> <br><li> A ideia a seguir é transformar as strings da coluna continent em inteiros de 0 a 4, representando os 5 continentes existentes.</li> <br> <li>E para isso contamos com o <code>dtype</code> category para essa solução</li>

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [9]:
drinks.memory_usage()

Index                            128
country                         1544
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                       1544
dtype: int64

In [10]:
sorted(drinks.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [11]:
# Alterando o tipo objeto para categoria
drinks['continent'] = drinks.continent.astype('category')

In [13]:
# Perceba a economia de memória utilizada com essa alteração
drinks.memory_usage()

Index                            128
country                         1544
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        401
dtype: int64

In [14]:
# Confirmando a mudança do tipo
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]

In [15]:
# Observando a Series continent pelos codigos do tipo category 
drinks.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

# Outros usos para a category

In [27]:
# Criando um dataframe
df = pd.DataFrame({'id':[100, 101, 102, 102], 'qualidade':['good', 'very good', 'good', 'excellent']})

In [28]:
df

    id  qualidade
0  100       good
1  101  very good
2  102       good
3  102  excellent

In [29]:
df.sort_values('qualidade')

    id  qualidade
3  102  excellent
0  100       good
2  102       good
1  101  very good

In [44]:
# Muda o tipo para categoria
df['qualidade'] = df.qualidade.astype('category')

# Muda os tipos de categoria afirmando sua ordenação
df.qualidade.type= pd.api.types.CategoricalDtype(categories=['good', 'very good', 'excellent'], ordered=True)

In [40]:
# os 
df.sort_values('qualidade')

    id  qualidade
3  102  excellent
0  100       good
2  102       good
1  101  very good

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
id           4 non-null int64
qualidade    4 non-null category
dtypes: category(1), int64(1)
memory usage: 268.0 bytes