In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [4]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [5]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [6]:
movies.shape

(979, 6)

In [7]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [8]:
type(movies)

pandas.core.frame.DataFrame

In [9]:
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

# Para renomear uma coluna basta usar a função rename

In [10]:
movies.rename(columns={'star_rating':'quantas_estrelinhas', 'title':'TITULO', 'genre':'tipo'}, inplace=True)

In [12]:
movies.columns

Index(['quantas_estrelinhas', 'TITULO', 'content_rating', 'tipo', 'duration',
       'actors_list'],
      dtype='object')

In [13]:
movies.head()

,quantas_estrelinhas,TITULO,content_rating,tipo,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

<blockquote> Outro jeito de fazer essa alteração é criando uma lista e atribuindo ela às colunas

In [22]:
movie_cols = ['quantas_estrelinhas', 'nome', 'classificação', 'tipo', 'tempo', 'os atores']
movies.columns = movie_cols

In [25]:
movies.head()

,quantas_estrelinhas,nome,classificação,tipo,tempo,os atores
0,9.3,The Shawshank Redemption,R,legal,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,legal,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,40.0,The Godfather: Part II,R,legal,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,legal,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,legal,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

<blockquote> Também é possivel renomear as colunas na leitura do arquivo

In [29]:
# Utilizando o parametro name, é gerado as novas colunas
# O parametro header=0 significa que os novos nomes vão substituir os antigos, que se localizavam na coluna 0
movies = pd.read_csv('http://bit.ly/imdbratings', names=movie_cols, header=0)

<blockquote> Para trocar palavras inteiras ou digitos basta:
    <code>movies.columns = movies.columns.str.replace(ANTIGO, NOVO)</code>



# Para alterar um dado basta selecionar usando o loc e atribuir o novo valor

In [18]:
movies.loc[2, 'quantas_estrelinhas'] = 40

In [19]:
movies.head()

,quantas_estrelinhas,TITULO,content_rating,tipo,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,40.0,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

<blockquote> Tambem pode se utilizar a técnica do slicing para isso

In [20]:
movies.loc[0:4, 'tipo'] = 'legal'

In [21]:
movies.head()

,quantas_estrelinhas,TITULO,content_rating,tipo,duration,actors_list
0,9.3,The Shawshank Redemption,R,legal,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,legal,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,40.0,The Godfather: Part II,R,legal,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,legal,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,legal,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."